
@media (max-width:480px) {
    


    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fdf4f500;
        gap: 20px;
      }
      
      .form-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #0A6EBD;
        width: 80%; 
        max-width: 400px; 
      }
      
      form {
        display: flex;
        flex-direction: column;
      }
      
      h1 {
        font-weight: 1000;
        text-align: center; 
      }
      
      button {
        background-color: #0A6EBD;
        color: aliceblue;
        height: 30px;
        border-radius: 10px;
      }
      
      .card {
        border-radius: 10px;
        background-color: #F5F5F5;
        /* align-self: stretch; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 80%; 
        max-width: 400px; 
      }
      
      .logo {
        color: #0A6EBD;
        align-self: center;
        width: 10%;
        height: auto; 
      }
      
      .card-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      
      .card-row1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
      }
      
      .card-row2 {
        color: #0A6EBD;
        text-align: center; 
      }
      
      .card-row3 {
        display: flex;
        justify-content: center; 
        gap: 20px;
      }
      
      .card-row4 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
      }
      
      .grey {
        background-color: #DDE6ED;
        color: #0A6EBD;
        padding: 5px;
        border-radius: 5px;
      }
      
      .pink {
        background-color: pink;
        color: aliceblue;
        padding: 5px;
        border-radius: 5px;
      }
      
      .profile {
        color: #0A6EBD;
        text-align: center;
      }
      
      .time {
        opacity: 60%;
        text-align: center;
      }
    }






@media (min-width:600px) {


body{
    display:flex;
    gap: 50px;
   align-items: center;
   justify-content: center;
    background-color:#fdf4f500;
    

}

.form-container{
    width:300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color:#0A6EBD;
}

form{
    
    display: flex;
    flex-direction: column;
    
}
h1{
    font-weight: 1000;
}

button{
    background-color: #0A6EBD;
    color:aliceblue;
    height: 40px;
    border-radius: 10px;
}

.card{

    border-radius: 10px;
    background-color: #F5F5F5;
    align-self: center;
    display: flex;
    width:600px;
    height:200px;
    gap: 20px;
    padding: 20px;
}
.logo{
    color: #0A6EBD;
    /* align-self: center; */
    width: 10%;
    height:20%;
}

.card-data{
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-row1{
    display: flex;
    justify-content: space-between;
}
.card-row2{
    color: #0A6EBD;
}

.card-row3{
    display: flex;
    justify-content:flex-start;
    gap: 20px;
}
.card-row4{
    display: flex;
    justify-content: space-between;
}

.grey{
    background-color: #DDE6ED;
    color: #0A6EBD;
    padding: 5px;
    border-radius: 5px;
}

.pink{
    background-color: pink;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}
.profile{
    color: #0A6EBD;
}
.time{
    opacity: 60%;
} 

select{
    background-color: #F5F5F5;
    height:40px;
}

input{
    
    height:30px;
}

}

























